streamlit==1.44.1
pandas>=2.0.0
yfinance
numpy>=1.23.0
pytz
plotly>=5.0.0
dhanhq>=2.3.0
supabase
pyotp
websocket-client
logzero
pillow>=11.0.0
scikit-learn>=1.2.0
joblib>=1.2.0
google-generativeai
requests
-e git+https://github.com/brian-the-dev/tradingview-screener.git#egg=tradingview_screener
