streamlit==1.44.1
pyotp
pandas>=2.0.0
yfinance
logzero
websocket-client
jugaad-data
pytz
plotly>=5.0.0
numpy>=1.23.0
pillow>=11.0.0
extra-streamlit-components==0.1.60
smartapi-python
supabase
